@import url('https://fonts.googleapis.com/css?family=Solway:400,700&display=swap');

/* html {
    scroll-behavior: smooth;
} */

body * {
    font-family: 'Solway', serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #e8e7e8;
}

main {
    overflow: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.logo {
    width: 20%;
}

@media (max-width: 1024px) {
    .logo {
        width: 80%;
        margin-top: 20px;
    }
}

.main {
    background-image: url(./img/rps.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 1024px) {
    .main {
        background-size: 145%;
    }
}

.scroll-wrapper {
    position: absolute;
    top: 60%;
    left: 5%;
    background-color: transparent;
    cursor: pointer;
    animation-duration: 3s;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px) rotate(90deg);
    }
    to {
        transform: translateY(-15px) rotate(90deg);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px) rotate(90deg);
    }
    to {
        transform: translateY(-15px) rotate(90deg);
    }
}

@media (max-width: 1024px) {
    .scroll-wrapper {
        position: absolute;
        top: 80%;
        left: 0;
        background-color: transparent;
        cursor: pointer;
        animation-duration: 3s;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
    }
    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-15px);
        }
    }
}

.scroll {
    text-decoration: none;
    text-transform: uppercase;
    color: #40a798;
    font-weight: 700;
}

.scroll:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #40a798;
}

.scroll span {
    content: '';
    position: absolute;
    border: 1px solid #40a798;
    bottom: -10px;
    width: 120px;
    left: -17px;
}

.scroll span:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    right: -40px;
    bottom: -17px;
    background-image: url(./img/click.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

@media (max-width: 1024px) {
    .scroll span:after {
        transform: rotate(90deg);
    }
}

.title {
    font-size: 45px;
    font-weight: 700;
    color: #40a798;
}

@media (max-width: 1024px) {
    .title {
        font-size: 25px;
    }
}

.characters {
    width: 13%;
}

@media (max-width: 1024px) {
    .characters {
        width: 25%;
    }
}

.start {
    background-color: #40a798;
    color: #fff;
    border: none;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #40a798;
}

@media (max-width: 1024px) {
    .start {
        font-size: 15px;
    }
}

.start:hover {
    background-color: #fff;
    color: #40a798;
    border: 2px solid #40a798;
}

.winner h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 45px;
}

.winner span {
    display: block;
    min-height: 38px;
}

.results h3 {
    font-size: 24px;
}

.results p {
    font-size: 12px;
}

.results p span {
    text-transform: uppercase;
}

.stats h3 {
    font-size: 24px;
}

.stats p {
    font-size: 12px;
}

@media (max-width: 767px) {
    .winner h2 {
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .results h3 {
        font-size: 14px;
    }
    .stats p {
        margin-bottom: 3px;
    }
    .results p span {
        text-transform: uppercase;
    }
    .stats h3 {
        font-size: 14px;
    }
}